POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

RABBITMQ_HOST=
RABBITMQ_VHOST=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_PORT=

REDIS_HOST=
REDIS_PORT=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

EMAIL_SENDER=

OTP_REGISTER_EXPIRATION_MINUTES=2
OTP_RESEND_COOLDOWN_SECONDS=6
OTP_RESEND_WINDOW_SECONDS=
OTP_MAX_RESENDS_IN_WINDOW=
OTP_MAX_VERIFY_ATTEMPTS=
OTP_LOCK_SECONDS=